/* Estilos Generales (Aplican a todas las pantallas) */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    min-height: 100vh;
    justify-content: space-between;
}

.title {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
    font-size: 24px;
}

.interactive-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1800px;
    margin: 20px 0;
    position: relative;
}

.reference-videos {
    width: 90%;
    max-width: 1200px;
    margin: 40px 0;
    text-align: center;
}

.reference-videos h3 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #333;
}

.video-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

iframe {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
}

.intro-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    opacity: 1;
    animation: fadeOut 2s ease 5s forwards;
}

.intro-text {
    text-align: center;
    font-size: 2em;
    animation: textAnimation 5s ease forwards;
}

.intro-text h1 {
    font-size: 3em;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeInDown 1.5s ease forwards;
}

.intro-text h2 {
    font-size: 2em;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeInDown 1.5s ease 1s forwards;
}

.intro-text h3 {
    font-size: 1.5em;
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeInDown 1.5s ease 2s forwards;
}

@keyframes fadeInDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

/* Estilos para PC */
@media (min-width: 769px) {
    .card-list {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-bottom: 20px;
        transition: all 0.3s ease;
        position: relative;
    }

    .card-list.vertical {
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 0;
        left: 0;
        gap: 10px;
        z-index: 1;
    }

    .interactive-card {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        transition: all 0.3s ease;
        cursor: pointer;
        min-width: 150px;
        max-width: 200px;
        visibility: visible;
        opacity: 1;
        position: relative;
        transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    }

    .interactive-card:hover {
        transform: scale(1.05) translateY(-10px);
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
        background-color: #00bfff; /* Color celeste/neón */
        color: white;
    }

    .interactive-card:hover::before {
        border-color: rgba(255, 255, 255, 0.7); /* Aumenta la visibilidad del borde */
    }

    .interactive-card.hidden {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 0.3s, opacity 0.3s ease;
    }

    .interactive-card h2 {
        margin-top: 0;
        margin-bottom: 16px;
        font-size: 24px;
    }

    .interactive-card .description {
        font-size: 14px;
        color: #777;
    }

    .expanded-content {
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: none;
        position: relative;
        width: calc(90% - 100px);
        margin-left: 250px;
    }

    .expanded-content.active {
        display: block;
        z-index: 2;
    }

    .expanded-content p {
        font-size: 16px;
        line-height: 1.5;
        margin: 0;
    }

    .expanded-content img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        margin-top: 10px;
    }
}

/* Estilos Específicos para Móviles */
@media (max-width: 768px) {
    .card-list {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        padding: 0 10px;
    }

    .interactive-card {
        width: 100%;
        transform: scale(1);
    }

    .interactive-card:hover {
        transform: scale(1.03) translateY(-5px);
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
        background-color: #00bfff; /* Color celeste/neón */
        color: white;
    }

    .expanded-content {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }

    iframe {
        width: 100%;
        height: 200px;
    }
}
