body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.contenido h2 {
    cursor: pointer;
    background-color: #e7e7e7;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
}

.contenido-desplegable {
    display: none;
    padding: 10px;
}

.contenido-desplegable ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
}

footer p {
    margin: 0;
}
